<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= typeof title != 'undefined'? title:"Cooking Blog-Made with Node.js" %>
    </title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container bg-white shadow-lg py-3">
      <div class="row mb-2 px-4">
        <div class="col-lg-3 col-md-4 col-sm-12 py-3 border-bottom">
          <a href="/" class=""
            ><img src="/img/logo.svg" class="img-fluid py-1"" width="229"
            height="68" alt="" /></a
          >
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12 py-3 border-bottom">
          <ul class="nav flex justify-content-center py-1">
            <li class="nav-item">
              <a class="nav-link text-dark fw-bold" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark fw-bold" href="/about">ABOUT</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-dark fw-bold" href="/contact">CONTACT</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 py-1 border-bottom">
          <form
            class="d-flex py-3"
            role="search"
            method="post"
            action="/search"
          >
            <input
              class="form-control me-2 w-auto"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="searchTerm"
              autocomplete="off"
            />
          </form>
        </div>
      </div>
      <div class="row flex-lg-row-reverse align-items-center mb-2 px-4 py-5">
        <div class="col-lg-6 col-sm-12 text-center">
          <img
            src="/img/hero-image.png"
            style="height: 370px"
            class="img-fluid"
          />
        </div>
        <div class="col-lg-6 col-sm-12">
          <h1 class="display-5 fw-bold">
            Huge selection of delicios recipe ideas
          </h1>
          <p class="lead">
            Explore our huge selection of delicious recipe ideas including; easy
            desserts, delicious vegan and vegetarian dinner ideas, gorgeous
            pasta recipes, quick bakes, family-friendly meals and gluten-free
            recipes.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/explore-latest" class="btn bg-black text-white px-3 py-2"
              >Explore latest</a
            >
          </div>
        </div>
      </div>
      <!-- Category Section -->
      <div class="row mb-2 px-4 py-5 g-4">
        <div
          class="col-lg-12 col-md-5 col-sm-5 d-flex flex-wrap align-items-center justify-content-around pt-1 g-2 col-sm-12 w-100"
        >
          <% if(categories!=""){%> <% categories.forEach(function(category){%>
          <a href="" class="category-detail p-2"
            ><img
              src="/img/<%= category.image%>"
              alt=""
              class="img-fluid category_img"
              style="height: 150px"
            />
            <div class="text-center"><%= category.name%></div>
          </a>
          <%})%> <%}%>
          <a href="/categories" class="category-detail p-2"
            ><img
              src="/img/view-all.jpg"
              alt=""
              class="img-fluid category_img"
              style="height: 150px"
            />
            <div class="text-center">View all</div>
          </a>
        </div>
      </div>
      <!-- above thing can be done using for loop  -->
      <!-- <!-- <% if(locals.categories){%>
        <% for(let i=0; i<categories.length;i++){ %>
          <a
          href=""
          class="category-detail p-2  "
          ><img
            src="/img/<%= categories[i].image%>"
            alt=""
            class="img-fluid category_img"
            style="height: 150px"
          />
          <div  class="text-center"><%= categories[i].name%></div>
        </a>
        <%}%>
        
        <a href="" class="category-detail"
        ><img
          src="/img/view-all.jpg"
          alt=""
          class="img-fluid category_img"
          style="height: 150px"
        />
        <div class="text-center">View all</div>
        <%}%> -->

      <div class="row mb-2 px-4 py-2">
        <div
          class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between"
        >
          <div><h1>Latest Recipe</h1></div>
          <a href="/explore-latest" class="text-black">View More</a>
        </div>
      </div>
      <div class="row mb-2 px-4 py-4 text-center g-4">
        <div
          class="col-lg-12 col-md-5 col-sm-5 d-flex flex-wrap align-items-center justify-content-around pt-1 col-sm-12 g-4"
        >
          <% if (recipeLatestOne !== "") { %> <%
          recipeLatestOne.forEach(function(recipe) { %>
          <a href="/recipe/<%=recipe._id%>" class="category-detail p-1">
            <img
              src="/uploads/<%= recipe.image %>"
              alt=""
              class="img-fluid category_img"
              style="height: 300px"
            />
            <div><%= recipe.name %></div>
          </a>
          <% }); %> <% } %>
        </div>
      </div>
      <div class="row mb-2 px-4 py-2">
        <div
          class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between"
        >
          <div><h2 class="display-4 fs-2 fw-medium">American Recipe</h2></div>
        </div>
      </div>
      <div class="row mb-2 px-s4 py-4 text-center g-4">
        <div
          class="col-lg-12 col-md-5 col-sm-5 d-flex flex-wrap align-items-center justify-content-around pt-1 col-sm-12 w-100"
        >
          <% if (AmericanRecipe !== "") { %> <%
          AmericanRecipe.forEach(function(recipe) { %>
          <a href="/recipe/<%=recipe._id%>" class="category-detail p-1">
            <img
              src="/uploads/<%= recipe.image %>"
              alt=""
              class="img-fluid category_img"
              style="height: 300px"
            />
            <div><%= recipe.name %></div>
          </a>
          <% }); %> <% } %>
        </div>
      </div>
      <div class="row mb-2 px-4 py-2">
        <div
          class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between"
        >
          <div><h2 class="display-4 fs-2 fw-medium">Chinese Recipe</h2></div>
        </div>
      </div>
      <div class="row mb-2 px-s4 py-4 text-center g-4">
        <div
          class="col-lg-12 col-md-5 col-sm-5 d-flex flex-wrap align-items-center justify-content-around pt-1 col-sm-12 w-100"
        >
          <% if (ChineseRecipe !== "") { %> <%
          ChineseRecipe.forEach(function(recipe) { %>
          <a href="/recipe/<%=recipe._id%>" class="category-detail p-1">
            <img
              src="/uploads/<%= recipe.image %>"
              alt=""
              class="img-fluid category_img"
              style="height: 300px"
            />
            <div><%= recipe.name %></div>
          </a>
          <% }); %> <% } %>
        </div>
      </div>
      <div class="row mb-2 px-4 py-2">
        <div
          class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-between"
        >
          <div><h2 class="display-4 fs-2 fw-medium">Thai Recipe</h2></div>
        </div>
      </div>
      <div class="row mb-2 px-s4 py-4 text-center g-4">
        <div
          class="col-lg-12 col-md-5 col-sm-5 d-flex flex-wrap align-items-center justify-content-around pt-1 col-sm-12 w-100"
        >
          <% if (ThaiRecipe !== "") { %> <% ThaiRecipe.forEach(function(recipe)
          { %>
          <a href="/recipe/<%=recipe._id%>" class="category-detail p-1">
            <img
              src="/uploads/<%= recipe.image %>"
              alt=""
              class="img-fluid category_img"
              style="height: 300px"
            />
            <div><%= recipe.name %></div>
          </a>
          <% }); %> <% } %>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</html>
